.bg-cetec {
    background: url("../img/cetec.jpg");
    -webkit-mask-image: linear-gradient(to top, transparent 1%, black 100%);
    background-size: cover;
    background-position-y: center;
}

.cetec {
    font-family: cursive;
    width: 100%;
    font-size: 1em;
    font-weight: 700;
}

.cetec2 {
    font-family: cursive;
    width: 100%;
    font-size: 1cm;
    font-weight: 700;
}

.logo {
    color: black;
}