.bg-kaio {
    background: url("../img/BF4.jpg");
    -webkit-mask-image: linear-gradient(to top, transparent 1%, black 30%);
    background-size: cover;
    background-position-y: center;
    height: 700px;
}

#loader {
    background: url("../img/preloader.gif");
    height: 1000px;
    width: 1600px;

}