@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
.bg-adriano {
    background: url('../img/360035-636353893389515697-16x9.jpg');
    min-height: 20em;
    background-size: cover;
    background-position-y: center;
}

.title-kaio {
    font-family: 'Dancing Script', cursive;
    width: 100%;
    font-size: 5em;
    font-weight: 700;
    color: #53ffda;
}

.btn-salvar {
    color: #fff;
    background-color: #00ff0d;
    border-color: #00ff0d;
}

.btn-adriano:hover {
    color: #fff;
    background-color: #00ff0d;
    border-color: #00ff0d;
}

.btn-adriano:focus,
.btn-adriano.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

/* .btn-outline-salvar {
    color: #59ce86;
    background-color: transparent;
    background-image: none;
    border-color: #00ff0d;
} */

.btn-outline-adriano:hover {
    color: #fff;
    background-color: #00ff0d;
    border-color: #00ff0d;
}

.btn-outline-adriano:focus,
.btn-outline-adriano.focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}